<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    Job Log Explorer Editor Contributions
      	    Object: Spooled Files
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.popupMenus">

      	<objectContribution
            objectClass="biz.isphere.rse.spooledfiles.SpooledFileResource"
            id="biz.isphere.joblogexplorer.menu.spooledfileresource">

           <visibility>
              <objectState name="biz.isphere.rse.spooledfiles.SpooledFileResource.file" value="QPJOBLOG" />
           </visibility>

	       <action
              class="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithSpooledFileAction"
              enablesFor="1"
              id="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithSpooledFileAction"
              label="%menu_Job_Log_Explorer"
              icon="icons/joblog_explorer.png"
              menubarPath="group.browsewith">
              <!--
              <enablement>
                 <objectState name="biz.isphere.rse.spooledfiles.SpooledFileResource.file" value="QPJOBLOG" />
              </enablement>
              -->
	       </action>
      	</objectContribution>
      	
	</extension>
      	
      	<!--
      	  ==========================================
      	    Job Log Explorer Editor Contributions
      	    Object: Remote Job
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.popupMenus">

      	<objectContribution
            objectClass="com.ibm.etools.iseries.subsystems.qsys.jobs.QSYSRemoteJob"
            id="biz.isphere.joblogexplorer.menu.qsysremotejob">

		   <!--
           <visibility>
              <objectState name="biz.isphere.rse.spooledfiles.SpooledFileResource.file" value="QPJOBLOG" />
           </visibility>
           -->

	       <action
              class="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithRemoteJobAction"
              enablesFor="1"
              id="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithRemoteJobAction"
              label="%menu_Job_Log_Explorer"
              icon="icons/joblog_explorer.png"
              menubarPath="group.browsewith">
              <!--
              <enablement>
                 <objectState name="biz.isphere.rse.spooledfiles.SpooledFileResource.file" value="QPJOBLOG" />
              </enablement>
              -->
	       </action>
      	</objectContribution>
      	
	</extension>
      	
      	<!--
      	  ==========================================
      	    Job Log Explorer Editor Contributions
      	    Object: Stream Files
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.popupMenus">

      	<objectContribution
            objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
            id="biz.isphere.joblogexplorer.menu.iremotefile">

           <visibility>
              <objectState name="isfile" value="true"/>
           </visibility>

	       <action
              class="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithRemoteFileAction"
              enablesFor="1"
              id="biz.isphere.joblogexplorer.rse.action.OpenJobLogExplorerWithRemoteFileAction"
              label="%menu_Job_Log_Explorer"
              icon="icons/joblog_explorer.png"
              menubarPath="group.browsewith">
              <!--
              <enablement>
                 <objectState name="isfile" value="true"/>
              </enablement>
              -->
	       </action>
      	</objectContribution>
      	
	</extension>

   <!-- ======================================= -->
   <!--   Debug View Popup Menu                 -->
   <!-- ======================================= -->

   <extension
         point="org.eclipse.ui.popupMenus">

      <!-- Debug View Popup Menu -->
      <!--  "launchGroup" -->
      <viewerContribution
            targetID="org.eclipse.debug.ui.DebugView"
            id="org.eclipse.debug.ui.debugview.popupMenu">

         <visibility>
            <objectClass
               name="com.ibm.debug.pdt.internal.core.model.DebuggeeProcess">
            </objectClass>
         </visibility>
         
         <action
               label="%menu_Job_Log_Explorer"
               icon="icons/joblog_explorer.png"
               class="biz.isphere.joblogexplorer.action.OpenJobLogDebugPopupAction"
               menubarPath="group.browsewith" 
               enablesFor="1"
               state="false"
               id="biz.isphere.joblogexplorer.action.OpenJobLogDebugPopupAction">
         </action>
      </viewerContribution>

   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Perspective
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.perspectives">
   
      <perspective 
	       id="biz.isphere.joblogexplorer.rse.perspective.JobLogExplorerPerspectiveLayout" 
	       name="%Perspective_Job_Log_Explorer"
	       class="biz.isphere.joblogexplorer.rse.perspective.JobLogExplorerPerspectiveLayout"
	       icon="icons/joblog_explorer.png">
      </perspective>
       
   </extension>   

</plugin>
