<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    Journal Explorer Views
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.views">
      <category
            name="iSphere"
            id="biz.isphere.core.views.categories">
      </category>
      <view
            icon="icons/journal_explorer.png"
            class="biz.isphere.journalexplorer.core.ui.views.JournalExplorerView"
            category="biz.isphere.core.views.categories"
            name="%JournalExplore_View"
            id="biz.isphere.journalexplorer.core.ui.views.JournalExplorerView">
      </view>
      <view
            icon="icons/segment_edit.png"
            class="biz.isphere.journalexplorer.core.ui.views.JournalEntryViewerView"
            category="biz.isphere.core.views.categories"
            name="%JournalEntryViewer_View"
            id="biz.isphere.journalexplorer.core.ui.views.JournalEntryViewerView">
      </view>
      <view
            icon="icons/details.png"
            class="biz.isphere.journalexplorer.core.ui.views.JournalEntryDetailsView"
            category="biz.isphere.core.views.categories"
            name="%JournalEntryDetails_View"
            id="biz.isphere.journalexplorer.core.ui.views.JournalEntryDetailsView">
      </view>
   </extension>
      	
      	<!--
      	  ==========================================
      	    Journal Explorer Perspective
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.perspectives">
   
      <perspective 
	       id="biz.isphere.journalexplorer.core.ui.perspectives.JournalExplorerPerspectiveLayout" 
	       name="%Perspective_Journal_Explorer"
	       class="biz.isphere.journalexplorer.core.ui.perspectives.JournalExplorerPerspectiveLayout"
	       icon="icons/journal_explorer.png">
      </perspective>
       
   </extension>   
   
      	<!--
      	  ==========================================
      	    Journal Explorer Preferences Initializer
      	  ==========================================
      	-->
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="biz.isphere.journalexplorer.core.preferences.PreferencesInitializer">
      </initializer>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Preferences
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="biz.isphere.journalexplorer.core.ui.preferencepages.JournalExplorerPreferencePage"
            category="biz.isphere.base.preferencepages.General"
            name="%Journal_Explorer_PreferencePage"
            id="biz.isphere.journalexplorer.core.ui.preferencepages.JournalExplorerPreferencePage"/>
   </extension>

      	<!--
      	  ==========================================
      	    iSphere Display Journal Entries Contributions
      	  ==========================================
      	-->

   <extension
         point="biz.isphere.journalexplorer.rse.handlers.contributions.extension.point.IDisplayJournalEntriesContributions">
      <client
            class="biz.isphere.journalexplorer.core.handlers.contributions.extension.DisplayJournalEntriesHandler">
      </client>
   </extension>
   
</plugin>
