<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    iSphere STRPREPRC popup menu extension
      	  ==========================================
      	-->

   <extension
         point="com.ibm.lpex.preload">
      <preload
            class="biz.isphere.strpreprc.lpex.Preload">
      </preload>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Preferences
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="biz.isphere.strpreprc.preferencepages.ISphereStrPrePrc"
            category="biz.isphere.base.preferencepages.General"
            name="%STRPREPRC_Utility"
            id="biz.isphere.strpreprc.preferencepages.ISphereStrPrePrc"/>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="biz.isphere.strpreprc.preferences.PreferencesInitializer">
      </initializer>
   </extension>

</plugin>
