<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="biz.isphere.lpex.tasktags.listener.LPEXDocumentSetupParticipant"
         name="LPEXDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="biz.isphere.lpex.tasktags.listener.LPEXDocumentSetupParticipant"
            extensions="*"/>
   </extension>

   <extension
      id="biz.isphere.lpex.tasktags.model.LPEXTask"
      name="LPEX Task"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker" />
      <persistent value="true" />         
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
			category="biz.isphere.base.preferencepages.General"
            class="biz.isphere.lpex.tasktags.ui.preferences.PreferencesPage"
            id="biz.isphere.lpex.tasktags.ui.preferences.PreferencesPage"
            name="%LPEX_Task_Tags">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="biz.isphere.lpex.tasktags.preferences.PreferencesInitializer">
      </initializer>
   </extension>

   <extension point="org.eclipse.ui.popupMenus"> 
      <objectContribution 
         id="biz.isphere.lpex.tasktags.deleteAllMarkers" 
         objectClass="org.eclipse.ui.internal.views.markers.MarkerEntry"> 
         <action
            id="biz.isphere.lpex.tasktags.deleteAllMarkers" 
            label="%Delete_all_LPEX_task_tags" 
            class="biz.isphere.lpex.tasktags.action.DeleteAllMarker"
            menubarPath="additions"
            > 
         </action> 
      </objectContribution> 
   </extension>

</plugin>
