<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    iSphere Editors
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name=""
            icon="icons/message_file.gif"
            class="biz.isphere.core.messagefileeditor.MessageFileEditor"
            id="biz.isphere.core.messagefileeditor.MessageFileEditor"/>
      <editor
            name=""
            icon="icons/binding_directory.gif"
            class="biz.isphere.core.bindingdirectoryeditor.BindingDirectoryEditor"
            id="biz.isphere.core.bindingdirectoryeditor.BindingDirectoryEditor"/>
      <editor
            name=""
            icon="icons/browser.gif"
            class="biz.isphere.core.internal.BrowserEditor"
            id="biz.isphere.core.internal.BrowserEditor"/>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Views
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.views">
      <category
            name="iSphere"
            id="biz.isphere.core.views.categories"/>	
      <view
            icon="icons/source_file_search.gif"
            class="biz.isphere.core.sourcefilesearch.ViewSearchResults"
            category="biz.isphere.core.views.categories"
            name="%iSphere_Source_File_Search"
            id="biz.isphere.core.sourcefilesearch.ViewSearchResults"/>
      <view
            icon="icons/message_file_search.png"
            class="biz.isphere.core.messagefilesearch.ViewSearchResults"
            category="biz.isphere.core.views.categories"
            name="%iSphere_Message_File_Search"
            id="biz.isphere.core.messagefilesearch.ViewSearchResults"/>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Preferences
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="biz.isphere.core.preferencepages.ISphereLibrary"
            category="biz.isphere.base.preferencepages.General"
            name="%Library"
            id="biz.isphere.core.preferencepages.ISphereLibrary"/>
      <page
            class="biz.isphere.core.preferencepages.ISphereSpooledFiles"
            category="biz.isphere.base.preferencepages.General"
            name="%Spooled_Files"
            id="biz.isphere.core.preferencepages.ISphereSpooledFiles"/>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="biz.isphere.core.preferences.PreferencesInitializer">
      </initializer>
   </extension>

      	<!--
      	  ==========================================
      	    Extension point: IWidgetFactory
      	  ==========================================
      	-->

   <extension-point id="biz.isphere.core.swt.widgets.extension.point.IWidgetFactory" 
   		 name="SWT Widget Extensions: IWidgetFactory" 
   		 schema="schema/biz.isphere.core.swt.widgets.extension.point.IWidgetFactory.xsd">
   </extension-point>

      	<!--
      	  ==========================================
      	    iSphere RSE Decorator
      	  ==========================================
      	-->

   <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="biz.isphere.core.decorators.RSEHostObjectDecorator"
            id="biz.isphere.core.decorators.RSEHostObjectDecorator"
            label="%iSphere_Object_and_Source_Decorator_Label"
            lightweight="true"
            state="false">
         <description>
           %iSphere_Object_and_Source_Decorator_Description
         </description>
         <enablement>
            <objectClass
                  name="com.ibm.etools.iseries.comm.interfaces.IISeriesHostObjectBrief">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
