<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    Autostart plug-in
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.startup">
      <startup class="biz.isphere.core.StartUp"/>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Editors
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name=""
            icon="icons/message_file.gif"
            class="biz.isphere.core.messagefileeditor.MessageFileEditor"
            id="biz.isphere.core.messagefileeditor.MessageFileEditor"/>
      <editor
            name=""
            icon="icons/binding_directory.gif"
            class="biz.isphere.core.bindingdirectoryeditor.BindingDirectoryEditor"
            id="biz.isphere.core.bindingdirectoryeditor.BindingDirectoryEditor"/>
      <editor
            name=""
            icon="icons/browser.gif"
            class="biz.isphere.core.internal.BrowserEditor"
            id="biz.isphere.core.internal.BrowserEditor"/>
      <editor
            name=""
            icon="icons/text_editor.png"
            class="biz.isphere.core.internal.ReadOnlyEditor"
            id="biz.isphere.core.internal.ReadOnlyEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"/>
      <editor
            name=""
            icon="icons/debug_module_view.gif"
            class="biz.isphere.core.displaymoduleview.ModuleViewEditor"
            id="biz.isphere.core.displaymoduleview.ModuleViewEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"/>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Fonts & Colors
      	  ==========================================
      	-->
      	
   <extension 
   		 point="org.eclipse.ui.themes">
      <themeElementCategory
            id="biz.isphere.core.ui.fontsandcolors"
            label="iSphere"/>
   		 
      <fontDefinition
            categoryId="biz.isphere.core.ui.fontsandcolors"        
            id="biz.isphere.fonts.editors.fixedsize"
            label="%Fixed_Size_Editor_Font"
            defaultsTo="org.eclipse.jface.textfont">
         <description>
            %Fixed_Size_Editor_Font_Description
         </description>
      </fontDefinition>
      
      <colorDefinition 
            categoryId="biz.isphere.core.ui.fontsandcolors"
            id="biz.isphere.fonts.editors.protectedbackground"
            label="%Editor_protected_areas"
            value="228,228,228">
         <description>
            %Editor_protected_areas_Description
         </description>
      </colorDefinition>
      
      <colorDefinition 
            categoryId="biz.isphere.core.ui.fontsandcolors"
            id="biz.isphere.fonts.editors.selectedcontrol"
            label="%Editor_selected_control"
            value="255,128,64">
         <description>
            %Editor_selected_control_Description
         </description>
      </colorDefinition>
      
      <colorDefinition 
            categoryId="biz.isphere.core.ui.fontsandcolors"
            id="biz.isphere.fonts.watcheditem.valuechanged"
            label="%Watched_Item_value_changed"
            value="255,255,0">
         <description>
            %Watched_Item_value_changed_Description
         </description>
      </colorDefinition>
      
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Views
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.views">
      <category
            name="iSphere"
            id="biz.isphere.core.views.categories"/>	
      <view
            icon="icons/source_file_search.gif"
            class="biz.isphere.core.sourcefilesearch.ViewSearchResults"
            category="biz.isphere.core.views.categories"
            name="%iSphere_Source_File_Search"
            id="biz.isphere.core.sourcefilesearch.ViewSearchResults"/>
      <view
            icon="icons/message_file_search.png"
            class="biz.isphere.core.messagefilesearch.ViewSearchResults"
            category="biz.isphere.core.views.categories"
            name="%iSphere_Message_File_Search"
            id="biz.isphere.core.messagefilesearch.ViewSearchResults"/>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Preferences
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="biz.isphere.core.preferencepages.ISphereLibrary"
            category="biz.isphere.base.preferencepages.General"
            name="%Library"
            id="biz.isphere.core.preferencepages.ISphereLibrary"/>
      <page
            class="biz.isphere.core.preferencepages.ISphereSpooledFiles"
            category="biz.isphere.base.preferencepages.General"
            name="%Spooled_Files"
            id="biz.isphere.core.preferencepages.ISphereSpooledFiles"/>
      <page
            class="biz.isphere.core.preferencepages.ISphereUpdates"
            category="biz.isphere.base.preferencepages.General"
            name="%Updates"
            id="biz.isphere.core.preferencepages.ISphereUpdates"/>
      <page
            class="biz.isphere.core.preferencepages.ISphereMonitors"
            category="biz.isphere.base.preferencepages.General"
            name="%Monitors"
            id="biz.isphere.core.preferencepages.MonitorDefaults"/>
      <page
            class="biz.isphere.core.preferencepages.ISphereSearch"
            category="biz.isphere.base.preferencepages.General"
            name="%Search"
            id="biz.isphere.core.preferencepages.ISphereSearch"/>
      <page
            class="biz.isphere.core.preferencepages.LabelDecorations"
            category="biz.isphere.base.preferencepages.General"
            name="%LabelDecorations"
            id="biz.isphere.core.preferencepages.LabelDecorations"/>
      <page
            class="biz.isphere.core.preferencepages.ISphereCompare"
            category="biz.isphere.base.preferencepages.General"
            name="%Compare"
            id="biz.isphere.core.preferencepages.ISphereCompare"/>
      <page
            class="biz.isphere.core.preferencepages.ISphereAppearance"
            category="biz.isphere.base.preferencepages.General"
            name="%Appearance"
            id="biz.isphere.core.preferencepages.ISphereAppearance"/>
    	
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="biz.isphere.core.preferences.PreferencesInitializer">
      </initializer>
   </extension>

      	<!--
      	  ==========================================
      	    Extension point: IWidgetFactory
      	  ==========================================
      	-->

   <extension-point id="biz.isphere.core.swt.widgets.extension.point.IWidgetFactory" 
   		 name="SWT Widget Extensions: IWidgetFactory" 
   		 schema="schema/biz.isphere.core.swt.widgets.extension.point.IWidgetFactory.xsd">
   </extension-point>

      	<!--
      	  ==========================================
      	    Extension point: IRDiContributions
      	  ==========================================
      	-->

   <extension-point id="biz.isphere.core.ibmi.contributions.extension.point.IIBMiHostContributions" 
   		 name="RDi Contributions: IRDiContributions" 
   		 schema="schema/biz.isphere.core.ibmi.contributions.extension.point.IIBMiHostContributions.xsd">
   </extension-point>

      	<!--
      	  ==========================================
      	    Extension point: Compare Filters
      	  ==========================================
      	-->

   <extension-point id="biz.isphere.core.comparefilter.contributions.extension.point.ICompareFilterContributions" 
   		 name="Compare Filter Contributions: ICompareFilterContributions" 
   		 schema="schema/biz.isphere.core.comparefilter.contributions.extension.point.ICompareFilterContributions.xsd">
   </extension-point>

</plugin>
