<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    iSphere popup menu extension
      	  ==========================================
      	-->

   <extension
         point="com.ibm.lpex.preload">
      <preload
            class="biz.isphere.lpex.comments.lpex.Preload">
      </preload>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Preferences
      	  ==========================================
      	-->
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="biz.isphere.lpex.comments.preferences.PreferencesInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="biz.isphere.lpex.comments.preferencepages.ISphereLpexEditorExtensions"
            category="biz.isphere.base.preferencepages.General"
            name="%Lpex_Editor_Extensions"
            id="biz.isphere.lpex.comments.preferencepages.ISphereLpexEditorExtensions"/>
   </extension>

</plugin>
