<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name=""
            icon="icons/message_file.gif"
            class="biz.isphere.messagefileeditor.MessageFileEditor"
            id="biz.isphere.messagefileeditor.MessageFileEditor"/>
      <editor
            name=""
            icon="icons/binding_directory.gif"
            class="biz.isphere.bindingdirectoryeditor.BindingDirectoryEditor"
            id="biz.isphere.bindingdirectoryeditor.BindingDirectoryEditor"/>
      <editor
            name=""
            icon="icons/browser.gif"
            class="biz.isphere.internal.BrowserEditor"
            id="biz.isphere.internal.BrowserEditor"/>
   </extension>

    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="biz.isphere.preferencepages.General"
            name="iSphere"
            id="biz.isphere.preferencepages.General"/>
      <page
            class="biz.isphere.preferencepages.Contributors"
            category="biz.isphere.preferencepages.General"
            name="%Contributors"
            id="biz.isphere.preferencepages.Contributors"/>
      <page
            class="biz.isphere.preferencepages.ISphereLibrary"
            category="biz.isphere.preferencepages.General"
            name="%Library"
            id="biz.isphere.preferencepages.ISphereLibrary"/>
      <page
            class="biz.isphere.preferencepages.ISphereSpooledFiles"
            category="biz.isphere.preferencepages.General"
            name="%Spooled_Files"
            id="biz.isphere.preferencepages.ISphereSpooledFiles"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="iSphere"
            id="biz.isphere.views.categories"/>	
      <view
            icon="icons/source_file_search.gif"
            class="biz.isphere.sourcefilesearch.ViewSearchResults"
            category="biz.isphere.views.categories"
            name="%iSphere_Source_File_Search"
            id="biz.isphere.sourcefilesearch.ViewSearchResults"/>
      <view
            icon="icons/message_file_search.png"
            class="biz.isphere.messagefilesearch.ViewSearchResults"
            category="biz.isphere.views.categories"
            name="%iSphere_Message_File_Search"
            id="biz.isphere.messagefilesearch.ViewSearchResults"/>
   </extension>
   <extension
         point="org.eclipse.core.resources.builders">
   </extension>

</plugin>
