<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      	
      	<!--
      	  ==========================================
      	    iSphere Preferences
      	  ==========================================
      	-->

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="biz.isphere.messagesubsystem.preferencepages.MessageMonitoringPage"
            category="biz.isphere.base.preferencepages.General"
            name="%Message_Monitor"
            id="biz.isphere.messagesubsystem.preferencepages.MessageMonitoringPage" >
         <keywordReference id="biz.isphere.messagesubsystem.preferences.general"/>
      </page>

   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="biz.isphere.messagesubsystem.preferences.PreferencesInitializer">
      </initializer>
   </extension>
      	
      	<!--
      	  ==========================================
      	    iSphere Keywords
      	  ==========================================
      	-->

   <extension
      point="org.eclipse.ui.keywords">
      <keyword
            label="%preferenceKeywords.general"
            id="biz.isphere.messagesubsystem.preferences.general"/>
   </extension>
   
</plugin>
