<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="iSphere Dev. Tools"
            id="biz.isphere.development.categories"/>	
      <view
            class="biz.isphere.development.views.SelectionServiceView"
            category="biz.isphere.development.categories"
            id="biz.isphere.development.views.SelectionServiceView"
            name="Workbench Selection"/>
   </extension>

	<!--
    The IBM pre-defined groups are:
      "group.new". This is where the cascading "New->" menu is.
      "group.goto". This is where the cascading "Goto->" menu is.
      "group.expandto". This is where the cascading "Expand To->" menu is.
      "group.openwith". This is where the cascading "Open With->" menu is.
      "group.browsewith". This is where the cascading "Browse With->" menu is.
      "group.workwith". This is where the cascading "Work With->" menu is.
      "group.build". Area of the menu reserved for build or refresh related actions.
      "group.change". Area of the menu reserved for change-related actions.
      "group.reorganize". Area of the menu reserved for reorganize-related actions, such as rename, move, copy, delete.
      "group.reorder". Area of the menu reserved for reorder-related actions, such as move up or move down.
      "group.generate". Area of the menu reserved for code generation-related actions.
      "group.search". Area of the menu reserved for search-related actions.
      "group.connection". Area of the menu reserved for connection-related actions.
      "group.remoteservers". Area of the menu reserved for the "Remote Servers->" action.
      "group.importexport". Area of the menu reserved for import or export-related actions.
      "group.adapter". Area of the menu reserved for actions queried from the remote resource adapters.
      "additions". Area of the menu reserved for actions that don't specify a group.
      "group.team". Area of the menu reserved for team-related actions.
      "group.properties". Area of the menu reserved for properties-related actions.

    You may also desire to place your action in an IBM-supplied cascading menu. To 
    do this, for the ID-part, specify one of the following IBM-supplied menu IDs:
      "menu.new". This is the cascading "New->" menu.
      "menu.goto". This is the cascading "Goto->" menu.
      "menu.expandto". This is the cascading "Expand To->" menu.
      "menu.openwith". This is the cascading "Open With->" menu.
      "menu.browsewith". This is the cascading "Browse With->" menu.
      "menu.workwith". This is the cascading "Work With->" menu.
      "menu.remoteservers". This is the cascading "Remote Servers->" menu.
	-->

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.new"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.new"
                   enablesFor="*"
                   label="** group.new **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.new"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.goto"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.goto"
                   enablesFor="*"
                   label="** group.goto **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.goto"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.expandto"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.expandto"
                   enablesFor="*"
                   label="** group.expandto **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.expandto"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.openwith"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.openwith"
                   enablesFor="*"
                   label="** group.openwith **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.openwith"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.browsewith"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.browsewith"
                   enablesFor="*"
                   label="** group.browsewith **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.browsewith"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.workwith"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.workwith"
                   enablesFor="*"
                   label="** group.workwith **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.workwith"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.build"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.build"
                   enablesFor="*"
                   label="** group.build **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.build"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.change"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.change"
                   enablesFor="*"
                   label="** group.change **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.change"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.reorganize"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.reorganize"
                   enablesFor="*"
                   label="** group.reorganize **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.reorganize"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.reorder"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.reorder"
                   enablesFor="*"
                   label="** group.reorder **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.reorder"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.generate"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.generate"
                   enablesFor="*"
                   label="** group.generate **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.generate"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.search"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.search"
                   enablesFor="*"
                   label="** group.search **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.search"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.connection"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.connection"
                   enablesFor="*"
                   label="** group.connection **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.connection"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.remoteservers"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.remoteservers"
                   enablesFor="*"
                   label="** group.remoteservers **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.remoteservers"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.importexport"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.importexport"
                   enablesFor="*"
                   label="** group.importexport **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.importexport"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.adapter"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.adapter"
                   enablesFor="*"
                   label="** group.adapter **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.adapter"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.additions"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.additions"
                   enablesFor="*"
                   label="** additions **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="additions"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.team"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.team"
                   enablesFor="*"
                   label="** group.team **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.team"
				   >
           </action>
       </objectContribution>								
   </extension>

   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution id="biz.isphere.objectcontributiontester.properties"
                          subsystemfactoryid="ibm.files400"
						  subtypefilter="*"
						  typecategoryfilter="*"
						  typefilter="*"
						  namefilter="*"
						  >
           <action id="biz.isphere.objectcontributiontester.action.properties"
                   enablesFor="*"
                   label="** group.properties **"
                   class="biz.isphere.development.objectcontributions.ObjectContributionAction"
				   menubarPath="group.properties"
				   >
           </action>
       </objectContribution>								
   </extension>

</plugin>
