<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name=""
            icon="icons/tn5250j.gif"
            class="de.taskforce.tn5250j.rse.sessionseditor.SessionsEditor"
            id="de.taskforce.tn5250j.rse.sessionseditor.SessionsEditor"/>
      <editor
            name=""
            icon="icons/tn5250j.gif"
            class="de.taskforce.tn5250j.rse.designereditor.DesignerEditor"
            id="de.taskforce.tn5250j.rse.designereditor.DesignerEditor"/>
   </extension>
 
   <extension
         point="org.eclipse.ui.views">
      <category
            name="TN5250J"
            id="de.taskforce.tn5250j">
      </category>
      <view
            name="%TN5250J_Sessions"
            icon="icons/tn5250j.gif"
            category="de.taskforce.tn5250j"
            class="de.taskforce.tn5250j.rse.sessionsview.SessionsView"
            id="de.taskforce.tn5250j.rse.sessionsview.SessionsView">
      </view>
      <view
            name="%TN5250J_Designer"
            icon="icons/tn5250j.gif"
            category="de.taskforce.tn5250j"
            class="de.taskforce.tn5250j.rse.designerview.DesignerView"
            id="de.taskforce.tn5250j.rse.designerview.DesignerView">
      </view>
   </extension>
   
   <extension point="org.eclipse.rse.core.subsystemConfigurations">
        <configuration
             name="TN5250J"
             icon="icons/tn5250j.gif"
             iconlive="icons/tn5250j.gif"
             category="de.taskforce.tn5250j"
             vendor="Task Force IT-Consulting GmbH"
             systemTypeIds="org.eclipse.rse.systemtype.iseries"
             class="de.taskforce.tn5250j.rse.subsystems.TN5250JSubSystemConfiguration"
             id="de.taskforce.tn5250j.rse.subsystems.TN5250JSubSystemConfiguration">
        </configuration>
   </extension> 
   
    <extension point="org.eclipse.ui.menus">
    	<menuContribution locationURI="popup:org.eclipse.rse.ui.view.systemView?before=additions">
    		<dynamic id = "de.taskforce.tn5250j.rse.systemsView"
    				 class = "de.taskforce.tn5250j.rse.actions.DesignerMenuContribution">
    			<visibleWhen>
                	<iterate>
                		<and>
    						<instanceof value="com.ibm.etools.iseries.services.qsys.api.IQSYSSourceMember"/>
    						<or>
    							<test property="com.ibm.etools.iseries.rse.ui.resources.matchesQSYSObject" value="DSPF"/>
    							<test property="com.ibm.etools.iseries.rse.ui.resources.matchesQSYSObject" value="MNUDDS"/>
    							<test property="com.ibm.etools.iseries.rse.ui.resources.matchesQSYSObject" value="PRTF"/>
							</or>
    					</and>
                   	</iterate>
    			</visibleWhen>
    		</dynamic>
    	</menuContribution>
    	<menuContribution locationURI="popup:com.ibm.etools.iseries.rse.ui.ObjectTableView">
    		<dynamic id = "de.taskforce.tn5250j.rse.objectTable"
    				 class = "de.taskforce.tn5250j.rse.actions.DesignerMenuContribution">
    			<visibleWhen>
                	<iterate>
                		<and>
    						<instanceof value="com.ibm.etools.iseries.services.qsys.api.IQSYSSourceMember"/>
    						<or>
    							<test property="com.ibm.etools.iseries.rse.ui.resources.matchesQSYSObject" value="DSPF"/>
    							<test property="com.ibm.etools.iseries.rse.ui.resources.matchesQSYSObject" value="MNUDDS"/>
    							<test property="com.ibm.etools.iseries.rse.ui.resources.matchesQSYSObject" value="PRTF"/>
							</or>
    					</and>
                   	</iterate>
    			</visibleWhen>
    		</dynamic>
    	</menuContribution>
    </extension>
    
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution
              id ="de.taskforce.tn5250j.rse.actions"
              objectClass="org.eclipse.rse.core.subsystems.ISubSystem">
              <filter name="subsystemConfigurationId" value="de.taskforce.tn5250j.rse.subsystems.TN5250JSubSystemConfiguration"/>
              <action id="de.taskforce.tn5250j.rse.actions.NewSessionAction"
                      label="%New_session"
                      icon="icons/new.gif"
                      class="de.taskforce.tn5250j.rse.actions.NewSessionAction">
              </action>
              <action id="de.taskforce.tn5250j.rse.actions.NewDesignerSessionAction"
                      label="%New_designer_session"
                      icon="icons/designer.gif"
                      class="de.taskforce.tn5250j.rse.actions.NewDesignerSessionAction">
              </action>
              <action id="de.taskforce.tn5250j.rse.actions.TransferTN5250JLibraryAction"
                      label="%Transfer_TN5250J_library"
                      icon="icons/tn5250j.gif"
                      class="de.taskforce.tn5250j.rse.actions.TransferTN5250JLibraryAction">
              </action>
              <action id="de.taskforce.tn5250j.rse.actions.InfoAction"
                      label="%Info"
                      icon="icons/info.gif"
                      class="de.taskforce.tn5250j.rse.actions.InfoAction">
              </action>
        </objectContribution>
    </extension>
    
   <extension point="org.eclipse.ui.viewActions"> 
      <viewContribution 
         id="de.taskforce.tn5250j.rse.actions" 
         targetID="org.eclipse.rse.ui.view.systemView"> 
         <menu
            id="de.taskforce.tn5250j.rse.menu" 
            label="%TN5250J_Menu" 
            path="additions"> 
            <separator name="group1"/> 
         </menu> 
         <action
            id="de.taskforce.tn5250j.rse.actions.CreateSubsystemsAction" 
            label="&amp;%TN5250J_Create_Subsystems" 
            menubarPath="de.taskforce.tn5250j.rse.menu/group1" 
            toolbarPath="Normal/additions"
            style="push"
            state="true" 
            icon="icons/tn5250j.gif" 
            tooltip="%TN5250J_Create_Subsystems" 
            class="de.taskforce.tn5250j.rse.actions.CreateSubsystemsAction"> 
         </action> 
     </viewContribution> 
   </extension>    
    
</plugin>
